<ion-header>
    <ion-toolbar>
        <ion-title color='danger'>
            Favorite Pokemon
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-button expand="block" color="danger" (click)="buttonPress()">Information</ion-button>

    <ion-button expand="block" color="danger" (click)="getPokemonList()">Pokemon List</ion-button>

    <!-- Checkboxes in a List -->
    <ion-list>
        <ion-item *ngFor="let item of pokemon">
            <ion-thumbnail slot="start">
                <ion-img [src]="img[item.name]"></ion-img>
            </ion-thumbnail>
            <ion-label>{{ item.name }}</ion-label>
            <ion-checkbox color="danger" slot="end" [(ngModel)]="item.isChecked"></ion-checkbox>
        </ion-item>
    </ion-list>
</ion-content>