<ion-header>
    <ion-toolbar>
        <ion-title color='danger'>
            Pokemon Cards
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-card *ngFor="let item of pokemon">
        <img [src]="image[item.name]" />
        <ion-card-header>

            <ion-card-title color='danger'>{{item.name}}</ion-card-title>
            <ion-card-subtitle color='danger'>{{item.species}}</ion-card-subtitle>
            <ion-card-subtitle color='danger'>Species: {{item.type}}</ion-card-subtitle>
            <ion-card-subtitle color='danger'>Abilities: {{item.abilities}}</ion-card-subtitle>
            <ion-card-subtitle color='danger'>Evolution: {{item.evolution}}</ion-card-subtitle>
        </ion-card-header>

    </ion-card>
</ion-content>